<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>blog.nikhilsnayk3473</title>
  </head>
  <body>
    <div class="container">
      <h1><%= article.title %></h1>
      <p class="subtitle"><%= article.createdAt.toLocaleDateString() %></p>
      <a href="/" class="btn btn-secondary">All Articles</a>
      <div class="content"><%- article.sanitizedHtml %></div>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
