@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: #222831;
  --bg-secondary: #393e46;
  --color-primary: #eeeeee;
  --color-secondary: #00adb5;
}

body {
  background-color: var(--bg-primary);
  color: var(--color-primary);
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5em;
}

h1 {
  font-size: 2rem;
  margin: 1em 0;
  font-weight: 700;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 3em;
}

.card {
  background-color: var(--bg-secondary);
  padding: 1em;
  width: 80%;
  max-width: 500px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.card-body > * {
  margin-bottom: 0.5em;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-secondary);
}

.card-subtitle,
.subtitle {
  opacity: 0.5;
  font-size: 0.75rem;
  font-weight: 700;
}

.card-text {
  font-size: 1rem;
  font-weight: 300;
}

.btn {
  position: relative;
  display: inline-block;
  text-decoration: none;
  border: none;
  outline: transparent;
  padding: 0.8em 1em;
  text-align: center;
  border-radius: 5px;
}

.btn-primary {
  background-color: var(--bg-primary);
  color: var(--color-primary);
}

.btn-primary:hover {
  color: var(--color-secondary);
}

.btn-secondary {
  background-color: var(--bg-secondary);
  color: var(--color-secondary);
}

.btn-secondary:hover {
  color: var(--color-primary);
}

.subtitle {
  font-size: 1.25rem;
  margin-bottom: 1em;
}

.content {
  margin-top: 1em;
}

h2 {
  margin-top: 1em;
  color: var(--color-secondary);
}

p {
  margin-top: 0.5em;
}
